.gitignore
# Node.js
node_modules/

# Build artifacts
build/
dist/

# Logs
logs
*.log

# Dependency directories
.pnpm
.npm

# Cache directories
.cache/
.pnpm-store/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
